body, html{
  height: 100%;
  font: "Inconsolata";
}
.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("/resources/shsun.jpg");
  min-height: 75%;
}
.menu {
  display: none;
}
